<!docktype html>
<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Welcome to Deadline List!</title>
        {% endif %}
    </head>
    <body>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}    
        <div>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout')}}">Выйти</a>
            {% endif %}
        </div> 
        {% block content %}{% endblock %}
    </body>
</html>