{% extends "base.html" %}

{% block content %}
    <h1>Добавление задач</h1>
    <form action="{{ url_for('create') }}" method="post">
        {{ create_form.hidden_tag() }}
        <p>{{ create_form.task.label }}<br>{{ create_form.task(size=52) }}</p>        
        {% for error in create_form.task.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>{{ create_form.date.label }}<br>{{ create_form.date(size=32) }}</p>        
        {% for error in create_form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>{{ create_form.submit() }}</p>
    </form>
        <p><b>Список задач:</b></p>
        {% for task in deadline_list %}
            <li><span
                    {% if task.is_done %} 
                        style="background-color:#88f17a" 
                    {% elif (task.date.date() - today).days <= 3 %} 
                        style="background-color:#ec7e84" 
                    {% elif (task.date.date() - today).days <= 7 %}
                        style="background-color:#f7b680"
                    {% else %}
                        style="background-color:#fff89a"
                    {% endif %}>
                    {{ task.task }} | дедлайн: {{ task.date.date() }} | дней до дедлайна: {{ (task.date.date() - today).days }}</span>
            </li>
            <p>
            <form action="{{ url_for('done', id=task.id) }}" method="post" style="display: inline;">
                {{ status_done_form.hidden_tag() }}
                {{ status_done_form.submit() }}
            </form>
            <form action="{{ url_for('not_done', id=task.id) }}" method="post" style="display: inline;">
                {{ status_done_form.hidden_tag() }}
                {{ status_not_done_form.submit() }}
            </form>   
            <form action="{{ url_for('delete', id=task.id) }}" method="post" style="display: inline;">
                {{ status_done_form.hidden_tag() }}
                {{ delete_form.submit() }}
            </form>        
            </p>
        {% endfor %}
{% endblock %}